#form {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;
}
#rssfeedurl {
    flex: 1;
}
#rssfeedbutton {
    margin-left: 10px;
}

#urlSpan{
    cursor:pointer;
}

#feed {
    margin-bottom: 10px;
}

#feedbody {
    color:black;
    text-decoration: none;
}

#feedtitle {
    display: flex;
    justify-content: space-between;
}